<% content_for :title do %>
<%= @campaign.name %>
<% end %>

<article class="article">
<div class="row bottom-space">
  <div class="span12">
    <div class="page-header">
      <h1><%= @campaign.name %><small> Goal: $<%= @campaign.goal %></small></h1>
      <h5><%= @campaign.description %><h5>
    </div>
  </div>
  <div class="span12 center-align">
    <img src="http://3.bp.blogspot.com/-PaezAsGU7Lk/UH0HbdHDneI/AAAAAAAAAoU/RHdx1F43yDE/s400/ocean+wallpaper+widescreen.jpg" class="thumbnail product-snap">
  </div>
</div>
<div class="row bottom-space">
  <div class="span10 offset1">
    <p>
      Detailed description about the campaign that how it makes the pledger's life more fulfilling my giving you their money.
      Detailed description about the campaign that how it makes the pledger's life more fulfilling my giving you their money.
      Detailed description about the campaign that how it makes the pledger's life more fulfilling my giving you their money.
      Detailed description about the campaign that how it makes the pledger's life more fulfilling my giving you their money.
    </p>
    <p>
      Detailed description about the campaign that how it makes the pledger's life more fulfilling my giving you their money.
      Detailed description about the campaign that how it makes the pledger's life more fulfilling my giving you their money.
      Detailed description about the campaign that how it makes the pledger's life more fulfilling my giving you their money.
      Detailed description about the campaign that how it makes the pledger's life more fulfilling my giving you their money.
    </p>
    <p>
      Detailed description about the campaign that how it makes the pledger's life more fulfilling my giving you their money.
      Detailed description about the campaign that how it makes the pledger's life more fulfilling my giving you their money.
      Detailed description about the campaign that how it makes the pledger's life more fulfilling my giving you their money.
      Detailed description about the campaign that how it makes the pledger's life more fulfilling my giving you their money.
    </p>
  </div>
</div>
<div class="row">
  <div class="span10 offset1">
    <hr>
    <div class="span3">
      <p>
        Ready to start creating campaigns?
      </p>
      <a class="btn btn-large btn-block" href="">Try now</a>
    </div>
    <div class="span3">
      <p>
        Confused?
      </p>
      <a class="btn btn-large btn-block" href="">Contact Us!</a>
    </div>
    <div class="span3">
      <p>
        FAQ
      </p>
      <a class="btn btn-large btn-block" href="">FAQ</a>
    </div>
  </div>
</div>
</article>
